// Color Scheme

//First Color Scheme
$white: #fff;
$platinum: #E6e7e7;
$lightgray: #d1d1d1;

//Second Color Scheme
$fuzzywuzzy: #e56353;
$ruddypink: #d76c69;
$spanishpink: #ecbcba;

//Third Color Scheme
$eerieblack: #121619;
$raisinblack: #222323;
$nickel: #6c6e70;

//Font Family
$playfair: 'Playfair Display', serif;
$roboto: 'Roboto', sans-serif;


